
/* css for updateitem model */
.allitems_main{
    padding-top: 90px;
}
.update_item{
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.update_model_container{
    width: 35%;
    height: auto;
    background-color:white;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}


.all_items > h3{
    margin: 0;
  
}
.all_items{
    padding: 20px 70px;
    padding-left: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #dfe6f5c9;
}

.item_container{
    width: 100%;
    height: auto;
    background-color: #F3F5FD;;
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
    padding: 10px;
    padding-left: 6%;
    padding-top: 100px;
}

.item_details{
    width: 23%;
    height: auto;
    /* background-color:#DFE6F5; */
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 6px 15px rgb(36 37 38 / 8%);
    font-size: 15px;
}
.image_container{
    width: 100%;
    height: 70%;
 
}

.image_container>img{
    width: 100%;
    height: 100%;
}
.item_description{
    width: 100%;
    height:auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 5px;
    font-size: 14px;
}


.item_description >div >div >span , 
.item_description >div >span{

    font-family: regular;
}

.item_description >div >div  , 
.item_description >div {
    
    font-family: semibold;
}

.item_name_dish{
    font-family: semibold!important;
    font-weight: 100!important;
}

.item_quantity{
    display: flex;
    justify-content: space-between;
}

.feature_buttons > button{
    letter-spacing: 2px;
}

.feature_buttons{
    display:flex;
    justify-content: space-between;
}

.all_item_container{
    padding-top: 10px;
    
    /* flex-direction: column; */
    /* row-gap: 10px;
    padding-right: 60px; */
}

/* css for additems container */
.add_items_container{
    width: 100%;
    height:300px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
}
.add_items_image{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 60%;
    row-gap: 30px;
    flex-direction: column;
    padding-right:6%;
    
}
.add_items_image > img{
    height: 90%;
}
.add_items_image > div {
    text-align: center;
}

