.menu_bar{
    padding: 10px 65px;
    padding-left: 87px;
}
.menu_bar > h3{
    font-family: semibold;
    cursor: pointer;
}
.cart_section{
    height: 50px;
    width: 50px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.cart_section > i{
    font-size: 20px;
    cursor: pointer;
    transition: .3s;
    color:#0CBC8B;
}
i:active{
   transform: scale(1.2);
}