.rest_main_class{
    width: 100%;
    height: auto;
    display: flex;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
}
.restaurant_image{
    width: 50%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.restaurant_authentication{
   
    height: auto;
    padding: 20px;
    background:#F3F5FD;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    row-gap: 10px;
    border-radius: 10px;
}

.restaurant_login_form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 10px;
    padding-top: 20px;
}

.input_block_one{
    display: flex;
    column-gap: 10px;
}

.input_field , .input_textarea{
    outline:none;
    padding: 10px 10px;
    width: 100%;
    border:1px solid black;
    background:#F3F5FD;
    font-family: regular;
}
input::placeholder{
    color:#3d535f;
    font-family: regular;
    font-size: 14px;
}
.input_textarea{
    width: 100%;
    height: 150px;
    text-indent:1px;
    /* text-transform: capitalize; */
    font-family: regular;
}
textarea::placeholder{
    color:#3d535f;
    font-family: regular;
    font-size: 14px;

}

.btns_restaurant{
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
}

button:active{
    transform: scale(1.4);
}

.signup_footer{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    padding-top: 10px;
}
.signup_footer>span{
    cursor: pointer;
}

.signup_footer>p{
    font-weight: 100;
    margin: 0px;
}