
.header{
    height: 80px;
    width:100%;
    position: fixed;
    z-index: 10;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
    background-color: rgba(255, 255, 255, 0.685);
    
}
.mobile{
    display: none;
}
.navbar{
    height:80px;
    width: 100%;
    display: flex;
    z-index: 100px;
    justify-content: space-between;
    align-items: center;
   

}
.logo_section{
    width:30%;
    height:80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: .9em;
    font-size: 30px;
    align-items: center;
    font-family: semibold;
    cursor: pointer;
    transition: .3s;
}

.logo:hover{
    color:#0CBC8B;
}

.nav_container{
    width:50%;
    height:auto;
    display: flex;
    align-items: center;
    justify-content: center;

}

.nav_links{
    list-style: none;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
    padding-right: 20px;
}

.nav_link{
    display: inline-block;
    font-family:semibold;
    font-weight: 450;
    font-size: 16px;
    letter-spacing: .1em;
    font-size: .9em;
}

a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.nav_link:hover{
    color: #0CBC8B;
    cursor: pointer;
}

button > a{
    color: #f4f4f4;
}

button > a:hover{
    color: #0CBC8B;
}

.header_img_cart{
    border-radius: 50%;
    position: relative;
}

.product_count{
    width: 25px;
    height: 25px;
    background: #0cbc8a2b;
    position: absolute;
    bottom: -10px;
    right: -10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: bold;
    color: #0CBC8B;
}