
.header{
    height: 80px;
    width:100%;
    position: fixed;
    z-index: 10;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
    background-color: rgba(255, 255, 255, 0.685);
}

.mobile{
    display: none;
}
.navbar_container{
    height:80px;
    width: 100%;
    display: flex;
    z-index: 100px;
    justify-content:space-between;
    align-items: center;
   

}
.logo_section{
    width:28%;
    height:80px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.logo{
    width: 100%;
    height: 90%;
    /* padding-bottom: 5px; */
    cursor: pointer;
    transition: .3s;
}

.logo:hover{
    color:#0CBC8B;
}

.nav_container{
    width:40%;
    height:auto;
    display: flex;
    align-items: center;
    /* justify-content: center; */

}

.nav_links{
    list-style: none;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
    padding-right: 20px;
}

ul,li{
    margin-bottom: 0rem;
    padding-left: 0rem;
}

.nav_link , .nav_link_cart{
    display: inline-block;
    font-family:semibold;
    font-weight: 450;
    font-size: 16px;
    letter-spacing: .1em;
    font-size: .9em;
    margin-bottom: 0;
}
.nav_link_cart{
    padding-right: 65px;
}

.nav_link::after{
    display: block;
    content:" ";
    border-bottom: 3px solid #0CBC8B;
    padding-bottom: 1%;
    transform: scaleX(0);
    transition: transform 300ms ease-in-out;
}

.nav_link:hover::after{
    transform: scaleX(1);
}

a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.nav_link:hover{
    color: #0CBC8B;
    cursor: pointer;
}

button > a{
    color: #f4f4f4;
}

button > a:hover{
    color: #0CBC8B;
}

.header_img_cart{
    border-radius: 50%;
    position: relative;
}

.product_count{
    width: 25px;
    height: 25px;
    background: #0cbc8a2b;
    position: absolute;
    bottom: -10px;
    right: -10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: bold;
    color: #0CBC8B;
}

@media  (max-width:720px) {
    .header{
        height: auto;
        /* display: flex;
        align-items: center;
        justify-content: space-between; */
    }
    .mobile{
        display: block;
        margin-top: 3px;
    }
    .navbar_container{
        width: 100%;
        /* flex-wrap: wrap; */
        height: auto;
        padding:0px;
    }
    .logo_section{
        /* width: 70%; */
        height: 40px;
        font-size: 20px;
        padding: 0px 20px;
        justify-content: space-between;
      
    }
    .cart_section_mobile{
        /* width: 30%; */
        display: flex;
        align-items: center;
        justify-content: flex-end;
        column-gap: 10px;
    }
    .logo{
        height: 40px;
        width: 100px;
        
    }
    .nav_container{
        width: 100%;
        position: relative;
    }
    .nav_links{
        flex-wrap: wrap;
        height: 0px;
        overflow: hidden;
        transition: .4s;
        padding: 0px 20px;
        width: auto;
        background: white;
        position: absolute;
        top:20px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .nav_link {
        /* width: 100%; */
        height: 40px;
        font-size: 15px;
        line-height: 40px;
        text-align: left;
        padding: 0px;
        
    }
    
    .nav_link_cart {
        padding-right: 15px !important;
    }
    .section_img{
        width: 30px !important;
        height: 30px !important;
        display: none;
    }
    .section_img > i{
        font-size: 14px !important;
    }
    .product_count{
        bottom: -2px;
        right: -4px;
        font-size: 10px;
        width: 17px;
        height: 17px;
    }

    .nav-model{
        width: 100%;
        height: 10px;
        background: #000;
        position:fixed;
        
    }
}